body {
  text-align: center;
  color: #BFBFBF;
  font-family: 'Montserrat';
	margin-top: 250px;
	margin-bottom: 50px;
  margin-right: 600px;
	background: none;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
