body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu {
  width: 325px;
  height: 100%;
  position: absolute;
  left: -275px;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
}

.options-buttons {
  width: 80%;
  height: auto;
  margin-top: 50%;
  font-size: 20px;
  font-weight:lighter;
  color: white;
}

.menu-button {
  width: 100%;
  min-height: 60px;
  background: rgba(0, 0, 0, 0.0);
  border-left: none;
  border-right: none;
  border-top: none;
}

#resume {
  position: absolute;
  margin-top: 10px;
  margin-left: 27%;
  width: 50%;
  height: 96%;
  visibility: hidden;
}

#open-close-menu {
  margin-left: 275px;
  width: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
}

#content {
  position: absolute;
  margin-left: 55%;
  width: 35%;
  height: 30%;
  min-width: 200px;
  min-height: 130px;
  background: rgba(0, 0, 0, 0.0);
  font-size: 60px;
  text-align: center;
  padding-bottom: 10px;
}
